.cantactsection{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 130vh;
        background: #000;
        color: aliceblue;
        padding: 100px 10px;    
}
.address{
    padding-left: 10px;
}
.TWOTOXICCOL{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 90%;
    height: 80vh;
    overflow: hidden;
    padding: 10px;
    color: aliceblue;
}
.leftnext, .rightnext{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.MAINinfoadd{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    width: 85%;
    padding: 10px;
    margin: 0 auto;
    color: #000;
    margin-top: -50px;
    background: aliceblue;
    backdrop-filter: blur(60px);
    border-radius: 7px;
}
.YtNOTA{
    width: 100%;
    height: 300px;
}
.email, .phone, .whatsapp{
    padding: 20px 10px;
    text-align: center;
    width: 99%;
    margin: 0 auto;
}
.email, .phone{
    border-right: 0.4px solid silver;
}
form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background: rgba(225,225,225,0.1);
    backdrop-filter: blur(60px);
    border-radius: 7px;
}
@media only screen and (max-width: 768px) {
    .cantactsection{
        height: auto;
    }
    .TWOTOXICCOL{
        grid-template-columns: 1fr;
        width: 100%;
        height: auto;
    }
    .YtNOTA{
        width: 100%;
        height: 300px;
    }
    .MAINinfoadd{
        width: 80%;
        grid-template-columns: 1fr;
        margin-top: -200px;
    }
    .email, .phone{
        border: none;
        border-bottom: 0.3px solid silver;
    }
}