.gallery{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  background-size: cover;
  width: 100%;
  height: auto;
}
.gallery-images{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
  height: 500px;
  padding: 10px;
  background: rgba(225,225,225,0.1);
  overflow-x: scroll;
}
.gallery-images::-webkit-scrollbar {
  width: 0px;
}
.gallery-images::-webkit-scrollbar-thumb {
  background-color: none;
  border-radius: 0px;
  border: 0px solid none;
}
.gallery-images{
  scrollbar-width: 0px;
  scrollbar-color: none;
}
.gallery-images img{
  width: auto;
  height: 90%;
  vertical-align: middle;
  object-fit: cover;
}
.nav-btn-left{
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(225,225,225,0.1);
  color: aliceblue;
  cursor: pointer;
  /* position: fixed;
  left: 5%; */
}
.nav-btn-right{
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(225,225,225,0.1);
  color: aliceblue;
  cursor: pointer;
  /* position: fixed;
  right: 5%; */
}
.nav-btn-left:hover, .nav-btn-right:hover{
  background: rgba(225,225,225,0.3);
}
@media only screen and (max-width: 768px) {
  
}