.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../images/bg-1.png);
    background-size: cover;
    width: 100%;
    height: auto;
}
.twocol{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    height: auto;
    padding: 10px;
    margin: 100px auto;
    overflow: hidden;
  }

.left{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.right{
  object-fit: cover;
  background: url(../images/hero.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 10px;
  height: 100%;
  animation: fly 2s ease-in-out infinite;
}
@keyframes fly{
  50%{
    transform: translateY(-50px);
  }
}
.h1blast{
  font-size: 5rem;
  font-weight: 700;
  background: linear-gradient(50deg, #f1f1ff, lightblue);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.btnblast{
    padding: 10px 20px;
    border-radius: 4px;
    background: rgba(225,225,225,0.2);
    color: #f1f1ff;
    cursor: pointer;
    border: none;
    outline: none;
    width: min-content;
    white-space: nowrap;
  }
  .btnblast:hover{
    background: rgba(225,225,225,0.4);
  }
  .activeblast{
    padding: 10px 20px;
    border-radius: 4px;
    background: none;
    margin-left: 10px;
    color: #f1f1ff;
    cursor: pointer;
    border: none;
    outline: none;
    width: min-content;
    white-space: nowrap;
  }
  .activeblast:hover{
    background: rgba(225,225,225,0.4);
  }
  .small-box{
    padding: 10px 20px;
    background: rgba(225,225,225,0.1);
    width: min-content;
    border-radius: 3px;
    color: #f1f1ff;
    white-space: nowrap;
  }
  .form-Home{
    display: none;
  }
  .h2blast{
    font-size: 2rem;
    font-weight: 700;
    background: linear-gradient(50deg, mediumseagreen, lightblue);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
  .small-info{
    font-size: 10px;
    color: rgba(225,225,225,0.4);
  }
  .blog-post{
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .blog-post hr{
    width: 30%;
    height: 5px;
    background: linear-gradient(50deg, mediumseagreen, lightblue);
  }
  .down-form{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 99999;
    background: rgba(225,225,225,0.1);
    backdrop-filter: blur(90px);
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  }
@media only screen and (max-width: 768px) {
    
    .home{
        height: auto;
      }
      .twocol, .blog-post{
        width: 95%;
        grid-template-columns: 1fr;
        padding: 0;
      }
      .form-section{
        width: 90%;
      }
      .h1{
        font-size: 2rem;
      }
      .right{
        display: none;
      }
    .form-Home{
        padding: 10px;
        display: block;
    }
}